:root {
    --base-color: #06283d;
    --primary-bg: #ffffff;
    --button-color: #dff6ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: var(--base-color);
}

.container {
    position: relative;

    width: 400px;
    height: 105px;
    background: var(--primary-bg);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

/* search-box */
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: min-content;
}

.search-box i {
    position: absolute;
    font-size: 28px;
    color: var(--base-color);
}

.search-box input {
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 32px;
    color: var(--base-color);
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    color: var(--base-color);
    text-transform: capitalize;
}

.search-box button {
    width: 50px;
    height: 50px;
    background-color: var(--button-color);
    border-radius: 50%;
    font-size: 22px;
    color: var(--base-color);
    transition: 0.4s ease;
}

.search-box button:hover {
    color: var(--primary-bg);
    background: var(--base-color);
}

/* weather-box */
.weather-box {
    text-align: center;
}

.weather-box img {
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature {
    position: relative;

    font-size: 4rem;
    font-weight: 800;
    color: var(--base-color);
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span {
    position: absolute;

    margin-top: 4px;
    font-size: 1.5rem;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    color: var(--base-color);
    text-transform: capitalize;
}

/* weather-details */
.weather-details {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind, .weather-details .rain {
    display: flex;
    align-items: center;

    width: 15%;
    height: 100px;
}

.weather-details .humidity {
    justify-content: flex-start;
}

.weather-details .wind {
    justify-content: center;
}

.weather-details .wind a {
    padding: 3px;
}

.weather-details .rain {
    justify-content: flex-end;
}

.weather-details .rain a {
    padding: 3px;
}

.weather-details i {
    margin-right: 10px;
    font-size: 24px;
    color: var(--base-color);
}

.weather-details span {
    font-size: 16px;
    font-weight: 500;
    color: var(--base-color);
}

.weather-details p {
    font-size: 12px;
    font-weight: 500;
    color: var(--base-color);
}

.local-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.local-time p {
    margin-top: -10px;
    font-size: 13px;
    font-weight: 100;
    color: var(--base-color);
}

/* not-found */
.not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 70%;
}

.not-found p {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 500;
    color: var(--base-color);
}

.weather-box, .weather-details, .local-time{
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}